aicssegmentation
numpy>=1.15.1
scipy>=1.1.0
scikit-image>=0.14.0
pandas>=0.23.4
aicsimageio>=0.4.3
aicsimageprocessing
numba>=0.40.0
itk
matplotlib>=2.2.3
jupyter
itkwidgets==0.12.2
ipython==7.0.1
ipywidgets==7.4.1